.aside {
    border-radius: 20px;
    padding: 16px 24px;

    background: var(--Bg-light);

    /* Efecto hueco (clave) */
    box-shadow:
        inset 4px 4px 10px rgba(0, 0, 0, 0.06),
        inset -4px -4px 10px rgba(255, 255, 255, 0.9);

    border: 1px solid rgba(0, 0, 0, 0.03);

    transition: all 0.3s ease;
}

.aside:hover {
    transform: translateY(-6px);

    box-shadow:
        0 12px 40px rgba(0, 0, 0, 0.12),
        inset 0 1px 0 rgba(255, 255, 255, 0.8);
}

.item {
    padding: 16px;
}

/* Títulos */
.title {
    font-size: 18px;
    font-weight: 600;
    color: #031756;
}

/* Texto */
.text {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  margin-bottom: 8px;
  font-size: 16px;
}

/* link base */
.link {
  display: block;
  padding: 16px;
  border-radius: 10px;
  color: var(--gray-600);
  text-decoration: none;
  transition: all 0.2s ease;
}

/* hover */
.link:hover {
  background: rgba(0, 0, 0, 0.03);
  color: var(--Primary);
}

/* 🔥 activo */
.active {
  background: var(--White);
  color: var(--Primary);
  font-weight: 600;
  position: relative;
  overflow: hidden;
}

.active::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 4px;
    background: var(--Secondary);
}